<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
      <nav th:fragment="nav" class="navbar navbar-dark bg-dark navbar-expand">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">
                Recursos Humanos - TravelTrip
            </a>
            <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a th:href="@{/Empleados}" class="nav-link">Empleados</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Historial</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/Reportes}" class="nav-link">Reportes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </body>
</html>